#test {
  background-image: url("../images/resistor.png");
  border-radius: 4px;
  background-size: 200px 100px;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  left: 100px;
}
#pointer {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  left: 0px;
  top: -10px;
}
#loop {
  background-image: url("../images/vsource.png");
  background-size: 200px 100px;
  background-repeat: no-repeat;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 350px;
}
#circuit {
  background-color: green;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 600px;
}