#test {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 100px;
}
#pointer {
  width: 10px;
  height: 10px;
  background-color: black;
  position: absolute;
  left: 0px;
  top: -10px;
}
#loop {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 350px;
}
#circuit {
  width: 200px;
  height: 200px;
  background-color: green;
  border-radius: 4px;
  position: absolute;
  top: 100px;
  left: 600px;
}