.js_block {
    /*This is the class for blockss. Individual changes are
    done with IDs*/
    display: inline-block;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px;
    width: 150px;
}
#forLoop {
    background-color: orange;
}
#whileLoop {
    background-color: yellow;
}
#if{
    background-color: red;
}
#else{
    background-color: red;
}
#function {
    background-color: green;
}
.moveable {
    position: absolute;
}